USE [master]
GO
/****** Object:  Database [DEV_DWH_CLASS]    Script Date: 4/25/2025 8:33:54 AM ******/
CREATE DATABASE [DEV_DWH_CLASS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Module02', FILENAME = N'/var/opt/mssql/data/Module02.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 8192KB ), 
 FILEGROUP [Config] 
( NAME = N'Config01', FILENAME = N'/var/opt/mssql/data/Config01.ndf' , SIZE = 65536KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ), 
 FILEGROUP [Dim] 
( NAME = N'Dim01', FILENAME = N'/var/opt/mssql/data/Dim01.ndf' , SIZE = 65536KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ),
( NAME = N'Dim02', FILENAME = N'/var/opt/mssql/data/Dim02.ndf' , SIZE = 65536KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ), 
 FILEGROUP [Fact]  DEFAULT
( NAME = N'Fact01', FILENAME = N'/var/opt/mssql/data/Fact01.ndf' , SIZE = 65536KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ),
( NAME = N'Fact02', FILENAME = N'/var/opt/mssql/data/Fact02.ndf' , SIZE = 65536KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Module02_log', FILENAME = N'/var/opt/mssql/log/Module02_log.ldf' , SIZE = 1048576KB , MAXSIZE = 2048GB , FILEGROWTH = 1048576KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
ALTER DATABASE [DEV_DWH_CLASS] MODIFY FILEGROUP [Config] AUTOGROW_ALL_FILES
GO
ALTER DATABASE [DEV_DWH_CLASS] MODIFY FILEGROUP [Dim] AUTOGROW_ALL_FILES
GO
ALTER DATABASE [DEV_DWH_CLASS] MODIFY FILEGROUP [Fact] AUTOGROW_ALL_FILES
GO
ALTER DATABASE [DEV_DWH_CLASS] MODIFY FILEGROUP [PRIMARY] AUTOGROW_ALL_FILES
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DEV_DWH_CLASS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DEV_DWH_CLASS]
GO
/****** Object:  Schema [AUD]    Script Date: 4/25/2025 8:33:56 AM ******/
CREATE SCHEMA [AUD]
GO
/****** Object:  Schema [CFG]    Script Date: 4/25/2025 8:33:56 AM ******/
CREATE SCHEMA [CFG]
GO
/****** Object:  Schema [GNR]    Script Date: 4/25/2025 8:33:56 AM ******/
CREATE SCHEMA [GNR]
GO
/****** Object:  Schema [SLE]    Script Date: 4/25/2025 8:33:56 AM ******/
CREATE SCHEMA [SLE]
GO
/****** Object:  Table [AUD].[Events]    Script Date: 4/25/2025 8:33:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AUD].[Events](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Source] [nvarchar](256) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](4000) NOT NULL,
	[InsertDate] [datetime] NULL
) ON [Config]
GO
/****** Object:  Table [GNR].[DIM_Date]    Script Date: 4/25/2025 8:33:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [GNR].[DIM_Date](
	[GregorianDateKey] [int] NOT NULL,
	[GregorianDate] [date] NOT NULL,
	[GregorianYearMonthDay] [int] NOT NULL,
	[JalaliDate] [nchar](10) NOT NULL,
	[JalaliYearMonthDay] [int] NOT NULL,
	[GregorianYear] [int] NOT NULL,
	[GregorianYearHalf] [int] NOT NULL,
	[GregorianYearQuarter] [int] NOT NULL,
	[GregorianYearWeek] [int] NOT NULL,
	[GregorianYearMonth] [int] NOT NULL,
	[GregorianQuarter] [int] NOT NULL,
	[GregorianHalf] [int] NOT NULL,
	[GregorianMonth] [int] NOT NULL,
	[GregorianDay] [int] NOT NULL,
	[GregorianWeek] [int] NOT NULL,
	[GregorianWeekDay] [int] NOT NULL,
	[JalaliYear] [int] NOT NULL,
	[JalaliYearHalf] [int] NOT NULL,
	[JalaliYearQuarter] [int] NOT NULL,
	[JalaliYearWeek] [int] NOT NULL,
	[JalaliYearMonth] [int] NOT NULL,
	[JalaliQuarter] [int] NOT NULL,
	[JalaliHalf] [int] NOT NULL,
	[JalaliMonth] [int] NOT NULL,
	[JalaliDay] [int] NOT NULL,
	[JalaliWeek] [int] NOT NULL,
	[JalaliWeekDay] [int] NOT NULL,
	[GregorianQuarterName] [nvarchar](50) NOT NULL,
	[GregorianHalfName] [nvarchar](50) NOT NULL,
	[GregorianMonthName] [nvarchar](50) NOT NULL,
	[GregorianWeekDayName] [nvarchar](50) NOT NULL,
	[JalaliQuarterName] [nvarchar](50) NOT NULL,
	[JalaliHalfName] [nvarchar](50) NOT NULL,
	[JalaliMonthName] [nvarchar](50) NOT NULL,
	[JalaliWeekDayName] [nvarchar](50) NOT NULL,
	[PeriodCode] [smallint] NOT NULL,
	[PeriodNameEn] [nvarchar](50) NOT NULL,
	[PeriodNameFa] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_GNR_DIM_Date] PRIMARY KEY CLUSTERED 
(
	[GregorianDateKey] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [Dim]
) ON [Dim]
GO
/****** Object:  Table [SLE].[DIM_Customer]    Script Date: 4/25/2025 8:33:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SLE].[DIM_Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BKAccountNumber] [nvarchar](10) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[AuditCustomerId] [int] NULL
) ON [Dim]
GO
/****** Object:  Index [PK_CustomerKey]    Script Date: 4/25/2025 8:33:56 AM ******/
CREATE UNIQUE CLUSTERED INDEX [PK_CustomerKey] ON [SLE].[DIM_Customer]
(
	[Id] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [Dim]
GO
/****** Object:  Table [SLE].[DIM_Product]    Script Date: 4/25/2025 8:33:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SLE].[DIM_Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BKProductNumber] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[AuditOltpId] [int] NULL,
	[SysHashValue] [nvarchar](32) NOT NULL,
	[SysInsertDate] [datetime] NOT NULL,
	[SysUpdateDate] [datetime] NOT NULL
) ON [Dim]
GO
/****** Object:  Index [PK_ProductKey]    Script Date: 4/25/2025 8:33:56 AM ******/
CREATE UNIQUE CLUSTERED INDEX [PK_ProductKey] ON [SLE].[DIM_Product]
(
	[Id] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [Dim]
GO
/****** Object:  Table [SLE].[DIM_Territory]    Script Date: 4/25/2025 8:33:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SLE].[DIM_Territory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BKTerritoryName] [nvarchar](50) NOT NULL,
	[AuditTerritoryId] [int] NULL
) ON [Dim]
GO
/****** Object:  Index [PK_TerritoryKey]    Script Date: 4/25/2025 8:33:56 AM ******/
CREATE UNIQUE CLUSTERED INDEX [PK_TerritoryKey] ON [SLE].[DIM_Territory]
(
	[Id] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [Dim]
GO
/****** Object:  Table [SLE].[FACT_Sales]    Script Date: 4/25/2025 8:33:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SLE].[FACT_Sales](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductRef] [int] NOT NULL,
	[CustomerRef] [int] NOT NULL,
	[TerritoryRef] [int] NOT NULL,
	[OrderDateRef] [int] NOT NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [money] NULL,
	[Discount] [money] NULL,
	[Total] [money] NULL,
	[AuditSalesOrderId] [int] NULL,
	[AuditSalesOrderDetailId] [int] NULL
) ON [Fact]
GO
/****** Object:  Index [PK_SalesKey]    Script Date: 4/25/2025 8:33:56 AM ******/
CREATE UNIQUE CLUSTERED INDEX [PK_SalesKey] ON [SLE].[FACT_Sales]
(
	[Id] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [Fact]
GO
/****** Object:  Index [UNQIX_GNR_DIM_Date_GregorianDate]    Script Date: 4/25/2025 8:33:56 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UNQIX_GNR_DIM_Date_GregorianDate] ON [GNR].[DIM_Date]
(
	[GregorianDate] ASC
)
INCLUDE([JalaliDate]) WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [Dim]
GO
/****** Object:  Index [UNQIX_GNR_DIM_Date_GregorianYearMonthDay]    Script Date: 4/25/2025 8:33:56 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UNQIX_GNR_DIM_Date_GregorianYearMonthDay] ON [GNR].[DIM_Date]
(
	[GregorianYearMonthDay] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [Dim]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNQIX_GNR_DIM_Date_JalaliDate]    Script Date: 4/25/2025 8:33:56 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UNQIX_GNR_DIM_Date_JalaliDate] ON [GNR].[DIM_Date]
(
	[JalaliDate] ASC
)
INCLUDE([GregorianDate]) WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [Dim]
GO
/****** Object:  Index [UNQIX_GNR_DIM_Date_JalaliYearMonthDay]    Script Date: 4/25/2025 8:33:56 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UNQIX_GNR_DIM_Date_JalaliYearMonthDay] ON [GNR].[DIM_Date]
(
	[JalaliYearMonthDay] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [Dim]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNQ_BKAccountNumber]    Script Date: 4/25/2025 8:33:56 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UNQ_BKAccountNumber] ON [SLE].[DIM_Customer]
(
	[BKAccountNumber] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [Dim]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNQ_ProductKey]    Script Date: 4/25/2025 8:33:56 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UNQ_ProductKey] ON [SLE].[DIM_Product]
(
	[BKProductNumber] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [Dim]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNQ_BKTerritoryName]    Script Date: 4/25/2025 8:33:56 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UNQ_BKTerritoryName] ON [SLE].[DIM_Territory]
(
	[BKTerritoryName] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [Dim]
GO
ALTER TABLE [AUD].[Events] ADD  DEFAULT (getdate()) FOR [InsertDate]
GO
ALTER TABLE [GNR].[DIM_Date] ADD  CONSTRAINT [DF_GNR_DIM_Date_PeriodCode]  DEFAULT ((0)) FOR [PeriodCode]
GO
ALTER TABLE [GNR].[DIM_Date] ADD  CONSTRAINT [DF_GNR_DIM_Date_PeriodNameEn]  DEFAULT (N'Present') FOR [PeriodNameEn]
GO
ALTER TABLE [GNR].[DIM_Date] ADD  CONSTRAINT [DF_GNR_DIM_Date_PeriodNameFa]  DEFAULT (N'روزجاری') FOR [PeriodNameFa]
GO
ALTER TABLE [SLE].[FACT_Sales]  WITH NOCHECK ADD  CONSTRAINT [FK_FACT_Sales_DIM_Customer] FOREIGN KEY([CustomerRef])
REFERENCES [SLE].[DIM_Customer] ([Id])
NOT FOR REPLICATION 
GO
ALTER TABLE [SLE].[FACT_Sales] NOCHECK CONSTRAINT [FK_FACT_Sales_DIM_Customer]
GO
ALTER TABLE [SLE].[FACT_Sales]  WITH NOCHECK ADD  CONSTRAINT [FK_FACT_Sales_DIM_Date] FOREIGN KEY([OrderDateRef])
REFERENCES [GNR].[DIM_Date] ([GregorianDateKey])
NOT FOR REPLICATION 
GO
ALTER TABLE [SLE].[FACT_Sales] NOCHECK CONSTRAINT [FK_FACT_Sales_DIM_Date]
GO
ALTER TABLE [SLE].[FACT_Sales]  WITH NOCHECK ADD  CONSTRAINT [FK_FACT_Sales_DIM_Product] FOREIGN KEY([ProductRef])
REFERENCES [SLE].[DIM_Product] ([Id])
NOT FOR REPLICATION 
GO
ALTER TABLE [SLE].[FACT_Sales] NOCHECK CONSTRAINT [FK_FACT_Sales_DIM_Product]
GO
ALTER TABLE [SLE].[FACT_Sales]  WITH NOCHECK ADD  CONSTRAINT [FK_FACT_Sales_DIM_Territory] FOREIGN KEY([TerritoryRef])
REFERENCES [SLE].[DIM_Territory] ([Id])
NOT FOR REPLICATION 
GO
ALTER TABLE [SLE].[FACT_Sales] NOCHECK CONSTRAINT [FK_FACT_Sales_DIM_Territory]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شناسه تاریخ' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'GregorianDateKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'تاریخ کامل میلادی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'GregorianDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره سال، ماه و روز میلادی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'GregorianYearMonthDay'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'تاریخ کامل جلالی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'JalaliDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره سال، ماه و روز جلالی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'JalaliYearMonthDay'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'سال میلادی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'GregorianYear'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره سال و نیمه سال میلادی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'GregorianYearHalf'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره سال و فصل میلادی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'GregorianYearQuarter'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره سال و هفته میلادی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'GregorianYearWeek'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره سال و ماه میلادی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'GregorianYearMonth'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره فصل میلادی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'GregorianQuarter'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره نیمه سال میلادی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'GregorianHalf'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره ماه میلادی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'GregorianMonth'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره روز در ماه میلادی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'GregorianDay'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره هفته در سال میلادی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'GregorianWeek'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره روز در هفته میلادی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'GregorianWeekDay'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'سال جلالی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'JalaliYear'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره سال و نیمه سال جلالی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'JalaliYearHalf'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره سال و فصل جلالی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'JalaliYearQuarter'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره سال و هفته جلالی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'JalaliYearWeek'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره سال و ماه جلالی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'JalaliYearMonth'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره فصل جلالی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'JalaliQuarter'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره نیمه سال جلالی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'JalaliHalf'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره ماه جلالی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'JalaliMonth'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره روز در ماه جلالی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'JalaliDay'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره هفته در سال جلالی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'JalaliWeek'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'شماره روز در هفته جلالی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'JalaliWeekDay'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'عنوان فصل میلادی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'GregorianQuarterName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'عنوان نیمه سال میلادی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'GregorianHalfName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'عنوان ماه میلادی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'GregorianMonthName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'عنوان روز هفته به میلادی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'GregorianWeekDayName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'عنوان فصل جلالی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'JalaliQuarterName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'عنوان نیمه سال جلالی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'JalaliHalfName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'عنوان ماه جلالی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'JalaliMonthName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'عنوان روز هفته به جلالی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'JalaliWeekDayName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'کد دوره زمانی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'PeriodCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'دوره زمانی به انگلیسی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'PeriodNameEn'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'دوره زمانی به فارسی' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date', @level2type=N'COLUMN',@level2name=N'PeriodNameFa'
GO
EXEC sys.sp_addextendedproperty @name=N'LoadType', @value=N'Static' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date'
GO
EXEC sys.sp_addextendedproperty @name=N'LoadTypeScript', @value=N'EXECUTE [GNR].[usp_DIM_Date_Fill] ''1900-01-01'',''1900-01-01'',0
GO
EXECUTE [GNR].[usp_DIM_Date_Fill] ''9997-12-30'',''9997-12-30'',0
GO
EXECUTE [GNR].[usp_DIM_Date_Fill] ''1921-03-21'',''2027-03-20'',0
GO' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'تقویم' , @level0type=N'SCHEMA',@level0name=N'GNR', @level1type=N'TABLE',@level1name=N'DIM_Date'
GO
USE [master]
GO
