USE [master]
GO
/****** Object:  Database [DEV_STG_CLASS]    Script Date: 4/25/2025 8:33:11 AM ******/
CREATE DATABASE [DEV_STG_CLASS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DEV_STG_CLASS', FILENAME = N'/var/opt/mssql/data/DEV_STG_CLASS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 8192KB ), 
 FILEGROUP [Extract] 
( NAME = N'Extract01', FILENAME = N'/var/opt/mssql/data/Extract01.ndf' , SIZE = 65536KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ),
( NAME = N'Extract02', FILENAME = N'/var/opt/mssql/data/Extract02.ndf' , SIZE = 65536KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ), 
 FILEGROUP [Transform] 
( NAME = N'Transform01', FILENAME = N'/var/opt/mssql/data/Transform01.ndf' , SIZE = 65536KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ),
( NAME = N'Transform02', FILENAME = N'/var/opt/mssql/data/Transform02.ndf' , SIZE = 65536KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DEV_STG_CLASS_log', FILENAME = N'/var/opt/mssql/log/DEV_STG_CLASS_log.ldf' , SIZE = 1048576KB , MAXSIZE = 2048GB , FILEGROWTH = 1048576KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
ALTER DATABASE [DEV_STG_CLASS] MODIFY FILEGROUP [Extract] AUTOGROW_ALL_FILES
GO
ALTER DATABASE [DEV_STG_CLASS] MODIFY FILEGROUP [PRIMARY] AUTOGROW_ALL_FILES
GO
ALTER DATABASE [DEV_STG_CLASS] MODIFY FILEGROUP [Transform] AUTOGROW_ALL_FILES
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DEV_STG_CLASS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DEV_STG_CLASS]
GO
/****** Object:  Schema [EXTRACT]    Script Date: 4/25/2025 8:33:12 AM ******/
CREATE SCHEMA [EXTRACT]
GO
/****** Object:  Schema [TRANSFORM]    Script Date: 4/25/2025 8:33:12 AM ******/
CREATE SCHEMA [TRANSFORM]
GO
/****** Object:  Table [EXTRACT].[SLE_DIM_Product01]    Script Date: 4/25/2025 8:33:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EXTRACT].[SLE_DIM_Product01](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[Name] [nvarchar](255) NULL,
	[ProductNumber] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[rowguid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Extract_SLE_Dim_Product_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [Extract]
) ON [Extract]
GO
/****** Object:  Table [TRANSFORM].[SLE_DIM_Product01]    Script Date: 4/25/2025 8:33:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRANSFORM].[SLE_DIM_Product01](
	[Id] [int] NOT NULL,
	[OltpHashValue] [nvarchar](24) NULL,
	[Action] [nvarchar](10) NULL,
 CONSTRAINT [PK_Transform_SLE_Dim_Product_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [Transform]
) ON [Transform]
GO
USE [master]
GO
